* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

.has-error {
  border: 1px solid red !important;
}

.help-block,
#js-errors {
  color: red;
}

img.post-image {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: #f1f1f1;
  justify-content: space-between;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
}
