* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 100px;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: #f1f1f1;
  justify-content: space-between;
}

span.register {
  display: flex;
  align-items: center;
}

.submit-register {
  display: flex;
  justify-content: space-between;
}

.has-error {
  border: 1px solid red !important;
}

.help-block,
#js-errors {
  color: red;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
  span.register {
    margin-left: 20px;
  }
}
